.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-main);
    color: var(--text-primary);
    overflow: hidden;
    position: relative;
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }
}